@use "sass:math";

$font-family-main: Arial;

$f1: rem(60px);
$f2: rem(48px);
$f3: rem(36px);
$f4: rem(32px);
$f5: rem(24px);
$f6: rem(20px);
$f7: rem(1rem);
$f8: rem(1rem);
$f9: rem(13px);
$f10: rem(12px);
$f11: rem(10px);
$f12: rem(8px);
$f13: rem(7px);
$f14: 2.625rem;
$f15: rem(18px);
$f16: rem(14px);
$f17: rem(42px);
$f18: rem(16px);
$f19: rem(24px);

$fs0: rem(12px);
$fs1: rem(14px);
$fs2: rem(16px);
$fs3: rem(24px);
$fs4: rem(18px);
$fs5: rem(20px);

$lh1: rem(18px);
$lh2: rem(21px);
$lh3: rem(30px);
$lh4: rem(28px);
$lh5: rem(40px);
$lh6: rem(24px);;

$color-red3: #d13434;

$color-light-black: #080a0b;

$color-white: #ffffff;
$color-bold-white: #f7f8fc;

$color-light-orange: #eb7825;

$color-blue: #5770ff;

$base-size: 16px;

@function rem($size, $context: $base-size) {
  @return math.div($size, $base-size) * 1rem;
}
