@import "@components/global-scss/variables.scss";

.serie-component {
    width: rem(160px);
    margin-left: rem(15px);
    margin-right: rem(15px);
    margin-top: rem(42px);
}

.serie-image {
    height: rem(160px);
    width: rem(160px);
}