@import "@components/global-scss/variables";

.reset-password-message {
  margin-left: rem(65px);
  margin-top: rem(40px);
  margin-bottom: rem(22px);
  font-style: normal;
  font-weight: normal;
  font-size: $fs1;
  line-height: $lh2;
  /* or 150% */

  letter-spacing: 0.2px;

  /* text */

  color: #080a0b;
}

.forgot-password-title {
  font-style: normal;
  font-weight: bold;
  font-size: $fs3;
  line-height: $lh3;
  align-items: center;
  letter-spacing: 0.2px;
  color: $color-blue-2;
  margin-top: rem(79px);
  text-align: center;
}

.save-reset-password {
  margin-top: rem(26px);
  margin-bottom: rem(80px);
}

.not-receive-email {
  text-align: center;
  margin-top: 200px;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-link-login {
  position: relative;
  margin-top: rem(10px);
  font-style: normal;
  font-weight: normal;
  font-size: $fs1;
  line-height: $lh2;
  color: $color-blue;
  padding-left: rem(5px);

  .title {
    text-decoration: underline !important;
  }
}

.save-deactive {
  background: $color-bg;
  color: $color-white;
}
.save-active {
  background: $color-blue-2;
  color: $color-white;
}

.btn-login {
  width: rem(117px);
  height: rem(40px);
  background-color: $color-blue-2 !important;
  color: $color-white !important;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: $fs1;
  line-height: $lh2;
  border: none;
  &:hover {
    background-color: $color-blue-2 !important;
    color: $color-white !important;
  }
  &:focus {
    background-color: $color-blue-2 !important;
    color: $color-white !important;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  width: rem(539px);
  height: rem(585px);
  background-color: $color-bold-white;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(18vh - 88px);
}

.input-custom {
  height: rem(40px);
  background: $color-white !important;
  border: 0;
  padding: rem(10px) rem(16px);
  &:focus {
    border-color: black !important;
  }
  &:hover {
    border-color: black !important;
  }
  &:active {
    border-color: black !important;
  }

  .ant-input {
    background: $color-white !important;
    font-size: $fs2;
    line-height: $lh6;
    &:focus {
      border-color: black !important;
    }
    &:hover {
      border-color: black !important;
    }
    &:active {
      border-color: black !important;
    }
  }
}

.input-container{
  position: relative;
  margin-bottom: rem(106px);
}

.input-login-form {
  display: block;
  margin-right: auto;
  margin-left: rem(65px);
  width: rem(410px);
  height: rem(49.05px);
  border: 1px solid #e4e4e4;
  // margin-bottom: rem(106px);
}


.edit-notify {
  position: absolute;
  font-weight: 500;
  font-size: $fs1;
  line-height: $lh2;
  letter-spacing: rem(0.2px);
  margin-top: rem(10px);
  color: #d13434;
  margin-left: rem(65px);
}

.detail {
  width: rem(400px);
  margin: auto;
  font-size: rem(14px);
  text-align: center;
  margin-top: rem(44px);
}

.bold {
  font-weight: bold;
}

.text-count-time {
  text-align: center;
}

.count-time {
  display: inline-block;
  color: $color-gray-1;
}

.resend-in {
  display: inline;
  color: $color-gray-1;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.disable-btn {
  background-color: $color-bg !important;
}