@import "../../components/global-scss/variables";

.profile-container {
  margin: 0 auto;

  font-family: $font-family-main;
  font-weight: $fw-medium;
  background: $color-gray13;
  padding-bottom: rem(60px);
  padding-top: rem(104px);
  .all-box {
    .profile-main {
      position: relative;
    }
  }
  .profile-main {
    display: flex;
    justify-content: center;

    .profile-info {
      width: rem(540px);
      height: rem(540px);
      background-color: $color-gray14;
      margin-right: rem(27px);
      padding: rem(29px) rem(25px);
      .box {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        .top {
          display: flex;
          margin-bottom: rem(31px);
          img {
            display: inline-block;
            width: rem(110px);
            height: rem(110px);
            margin-right: rem(19px);
          }
          .creator-info {
            text-transform: uppercase;
            color: $color-black-1;

            .creator-role {
              opacity: 0.6;
            }
            .creator-name {
              opacity: 1;
            }
            .creator-follow {
              display: flex;
              margin-top: rem(14px);
              align-items: center;
              font-size: rem($fs0);
              line-height: rem($lh8);
              .follow-button {
                display: flex;
                width: rem(92px);
                height: rem(24px);
                justify-content: center;
                align-items: center;
                background-color: $color-blue-2;
                border: none;
                border-radius: 0;
                margin-right: rem(10px);
              }
              .creator-followers {
                color: $color-black-1;
                font-weight: $fw-normal;
                text-transform: lowercase;
              }
            }
          }
        }
        .introduction {
          // height: rem(330px);
          flex: 1;
          height: auto;
          display: flex;
          color: $color-black-1;
          opacity: 1;
          overflow-y: scroll;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none;
        }
        .introduction::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .profile-link {
      width: rem(350px);
      .profile-frame {
        position: relative;
        height: rem(466px);
        background-color: $color-gray2;
        .overlay {
          position: absolute;
          bottom: 0;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          height: rem(64px);
          width: 100%;
        }
      }
      .profile-sns {
        display: flex;
        height: rem(60px);
        margin-top: rem(14px);
        .sns-item {
          display: block;
          color: $color-black-1;
          height: rem(60px);
          width: rem(60px);
          margin-right: rem(13px);
          .sns-btn {
            display: block;
            width: rem(60px);
            height: rem(60px);
            padding: 0;
            img {
              width: rem(60px);
              height: rem(60px);
            }
          }
        }
        .sns-item:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.list-tag {
  font-family: $font-family-main;
  color: $color-black-1;
  font-weight: $fw-medium;
  margin-bottom: rem(23px);
  width: 100%;
  font-size: $fs2;
  position: relative;
  display: flex;
}

.edit-btn {
  width: rem(140px);
  height: rem(40px);
  font-family: $font-family-main;
  font-size: $fs1;
  line-height: $lh2;
  color: $color-black;
  background: $color-bold-white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  text-transform: none !important;
  .edit-icon {
    margin-right: rem(10px);
  }
}

.profile {
  color: $color-black-1;
}

.profile-title {
  max-width: rem(1490px);
  color: $color-black-1;
  line-height: rem($lh9);
  font-size: rem($fs2);
  text-transform: uppercase;
  margin-bottom: rem(24px);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(-40px);
  //margin-left: 11.5%;
  //margin-right: rem(24px);
}

@media screen and (max-width: rem(1930px)) {
  .list-series-container {
    min-height: rem(800px);
    max-width: rem(1490px);
  }
}

@media screen and (max-width: rem(1670px)) {
  .profile-title {
    max-width: rem(1110px);
  }
}

@media screen and (max-width: rem(1250px)) {
  .profile-title {
    max-width: rem(920px);
  }
}

@media screen and (max-width: rem(960px)) {
  .profile-title {
    max-width: rem(730px);
  }
}

@media screen and (max-width: rem(750px)) {
  .profile-title {
    max-width: rem(540px);
  }
}