@import "@components/global-scss/variables.scss";

.container {
  padding: rem(60px) 11.5%;
  background: $color-bold-white;
  min-height: 80vh;

  .header {
    font-family: $font-euclid-regular;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: $lh6;
    line-height: $lh3;
    letter-spacing: rem(0.2px);
    color: $color-light-black;
    margin-bottom: rem(40px);
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: $fs1;
    line-height: $lh2;
    font-weight: $fw-normal !important;
    color: $color-black-1;
    border: 1px solid black;

    td,
    th {
      text-align: center;
      padding: 24px;
      border: 1px solid black;
    }

    thead {
      th {
        font-weight: $fw-bold !important;
        padding-top: rem(10px) !important;
        padding-bottom: rem(10px) !important;
        background-color: $color-blue-5;
      }
    }

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
      text-align: center !important;
    }

    tbody {
      background: $color-bold-white;

      img {
        cursor: pointer;
      }

      tr:not(:first-child) {
        border-top: 1px solid $color-gray-7;
      }
    }
  }
}

.primary-btn {
  padding: 0 10px;
  height: rem(40px);
  background-color: $color-blue-2;
  color: $color-white !important;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: $fs1;
  line-height: $lh2;
  border: none;
  &:hover {
    background-color: $color-blue-2;
    color: $color-white !important;
  }
  &:focus {
    background-color: $color-blue-2;
    color: $color-white !important;
  }
  cursor: pointer;
}