@import "../../components/global-scss/variables";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(539px);
  height: rem(523px);
  background-color: $color-bold-white;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(18vh - 88px);
}

.divider {
  width: rem(1039px);
}

.company-name {
  margin-top: rem(41px);
  color: $color-light-orange;
  text-align: center;
  height: rem(22px);
  font-family: $font-family-main;
  font-style: normal;
  font-weight: bold;
  font-size: $f1;
  line-height: 110%;
  text-transform: uppercase;
}

.signin-title {
  font-style: normal;
  font-weight: bold;
  font-size: $f3;
  line-height: $lh3;
  align-items: center;
  letter-spacing: 0.2px;
  color: $color-light-black;
  margin-top: rem(13px);
  margin-bottom: rem(60px);
}

.login-form-padding {
  padding-right: rem(90px);
  padding-left: rem(90px);
}

.login-form-error {
  margin-top: rem(12px);
  color: $color-red3
}

.btn-forgot-pw {
  width: rem(450px);
  text-align: right;
  margin-bottom: rem(37px);
  color: $color-blue;
}

.atn-btn-link-login {
  position: relative;
  margin-top: rem(10px);
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: $fs2;
  line-height: $lh2;
  color: $color-blue;
}

.atn-btn-register {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: $fs1;
  line-height: $lh2;
  color: $color-blue;
}

.btn-controller-login {
  margin-left: auto;
  position: relative;
}

.atn-btn-login {
  width: rem(117px);
  height: rem(40px);
  background-color: $color-light-orange !important;
  color: $color-white !important;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: $fs1;
  line-height: $lh2;
  border: none;
  &:hover {
    background-color: $color-light-orange !important;
    color: $color-white !important;
  }
  &:focus {
    background-color: $color-light-orange !important;
    color: $color-white !important;
  }
}

.atn-btn-color-orange {
  background: $color-orange6 !important;
  color: $color-white !important;
  &:hover {
    border-color: $color-light-orange !important;
    color: $color-white !important;
  }
  &:focus {
    border-color: $color-light-orange !important;
    color: $color-white !important;
  }
  &:active {
    border-color: $color-light-orange !important;
    color: $color-white !important;
  }
}