@import "../../components/global-scss/variables";

.subheader-container {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 999;
  @media (max-width: $break_point_500) {
    top: 40px;
  }
}

.sub-header-b li:hover {
  color: $color-white !important;
  border: none;
}

.sub-header-b {
  display: flex;
  align-items: center;
  background-image: url("../../../public/assets/images/common/sub_header.png");
  color: $color-white;
  padding-right: rem(27px);
  width: 100%;
  z-index: 999;
  height: rem(40px);

  @media (max-width: $break_point_500) {
    height: rem(50px);
  }
}

.sub-hd-item:not(.all-category) {
  padding-right: 0px !important;
  margin-right: rem(8px) !important;
}

.sub-header-2 .sub-hd-item {
  margin-right: rem(0px) !important;
}

.sub-header-1 {
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.15);
}

.sub-header-2 {
  border-bottom: none;
}
.sub-item {
  font-style: normal;
  font-weight: $fw-normal;
  font-size: rem(13px) !important;
  line-height: rem($lh1);
  letter-spacing: rem(0.2px);
  opacity: 0.5 !important;
}

.sub-item:active {
  opacity: 1 !important;
}

.sub-item span {
  color: $color-white !important;
}

.all-category {
  border-right: 1px solid $color-white;
  line-height: normal;
}

.sub-item:hover {
  opacity: 1 !important;
}

.all-category:hover {
  border-right: 1px solid $color-white !important;
}

.active-item {
  opacity: 1 !important;
}

.sub-header-b .sub-item::after {
  border-bottom: none !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.search-box {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;

  @media (max-width: $break_point_500) {
    input {
      width: 125px !important;
    }
  }
}

.search-bar {
  width: 200px;
}

.ml-auto {
  margin-left: auto;
}

.category-list {
  position: absolute;
  background-color: $color-blue-2;
  width: 100%;
  z-index: 2000;
  text-transform: uppercase;

  .item {
    border-top: solid 0.4px #ffffff3d;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;

    &:active {
      opacity: 0.5;
    }

    &:first-child {
      border-top: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 21px;
    background: $color-blue-2;
    left: 20%;
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(59deg) skewX(34deg);
  }
}

.genre-list {
  position: absolute;
  background-color: $color-blue-2;
  width: 100%;
  z-index: 2000;
  text-transform: uppercase;
  top: 100px;

  .item {
    border-top: solid 0.4px #ffffff3d;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;

    &:active {
      opacity: 0.5;
    }

    &:first-child {
      border-top: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 21px;
    background: $color-blue-2;
    left: 10%;
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(59deg) skewX(34deg);
    margin-top: 4px;
  }
}

.overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
}

// .genre-overlay {
//   position: absolute;
//   z-index: 1000;
//   width: 100%;
//   height: 100vh;
//   top: 100px;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.5);
//   transition: opacity 200ms;
// }
