@use "sass:math";

$thickness : 5px;
$duration : 2500;
$delay : math.div($duration, 6);

@mixin polka($size, $dot, $base, $accent){
  background-size:$size $size;
  background: radial-gradient($accent $dot, transparent 0) 0 -2.5px;
}

.bookshelf_wrapper {
  position: absolute;
  top: 60%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #4BA0DD;
  border: $thickness solid #3690D3;
  transform-origin: bottom left;
  transform: translateX(300px);
  animation: travel #{$duration}ms linear infinite;

  &.first {
    top: -140px;
    height: 140px;

    &:before,
    &:after {
      content:'';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: $thickness;
      background-color: #3690D3;
    }

    &:after {
      top: initial;
      bottom: 10px;
    }
  }

  &.second,
  &.fifth {
    &:before,
    &:after {
      box-sizing: border-box;
      content:'';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: $thickness*3.5;
      border-top: $thickness solid #3690D3;
      border-bottom: $thickness solid #3690D3;
    }

    &:after {
      top: initial;
      bottom: 10px;
    }
  }

  &.third {
    &:before,
    &:after {
      box-sizing: border-box;
      content:'';
      position: absolute;
      top: 10px;
      left: 9px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: $thickness solid #3690D3;
    }

    &:after {
      top: initial;
      bottom: 10px;
    }
  }

  &.fourth {
    top: -130px;
    height: 130px;

    &:before {
      box-sizing: border-box;
      content:'';
      position: absolute;
      top: 46px;
      left: 0;
      width: 100%;
      height: $thickness*3.5;
      border-top: $thickness solid #3690D3;
      border-bottom: $thickness solid #3690D3;
    }
  }

  &.fifth {
    top: -100px;
    height: 100px;
  }

  &.sixth {
    top: -140px;
    height: 140px;

    &:before {
      box-sizing: border-box;
      content:'';
      position: absolute;
      bottom: 31px;
      left: 0px;
      width: 100%;
      height: $thickness;
      background-color: #3690D3;
    }

    &:after {
      box-sizing: border-box;
      content:'';
      position: absolute;
      bottom: 10px;
      left: 9px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: $thickness solid #3690D3;
    }
  }

  &:nth-child(2) {
    animation-delay: #{$delay*1}ms;
  }

  &:nth-child(3) {
    animation-delay: #{$delay*2}ms;
  }

  &:nth-child(4) {
    animation-delay: #{$delay*3}ms;
  }

  &:nth-child(5) {
    animation-delay: #{$delay*4}ms;
  }

  &:nth-child(6) {
    animation-delay: #{$delay*5}ms;
  }

}

@keyframes move {

  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 10px;
  }

}

@keyframes travel {

  0% {
    opacity: 0;
    transform: translateX(300px) scaleY(1);
  }

  6.5% {
    transform: translateX(279.5px) scaleY(1.1);
  }

  8.8% {
    transform: translateX(273.6px)  scaleY(1);
  }

  10% {
    opacity: 1;
    transform: translateX(270px);
  }

  17.6% {
    transform: translateX(247.2px);
  }

  45% {
    transform: translateX(165px);
  }

  49.5% {
    transform: translateX(151.5px);
  }

  61.5% {
    transform: translateX(115.5px);
  }

  67% {
    transform: translateX(99px);
  }

  76% {
    transform: translateX(72px);
  }

  83.5% {
    opacity: 1;
    transform: translateX(49.5px);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(0px);
  }

}