@import "@components/global-scss/variables.scss";

.container {
  background-color: $color-blue-8;
  padding: rem(135px) 18% 0px 18%;
  .sub-container {
    padding: rem(40px) 10%;
    .section {
      .info-display {
        margin-top: rem(14px);
        margin-bottom: rem(45px);
        background-color: $color-white;
        padding: rem(40px) 13%;

        .field-part {
          margin-bottom: rem(20px);
          .input {
            margin-top: rem(4px);
            height: rem(40px);
          }
          .edit-button {
            margin-left: rem(70px);
            font-style: normal;
            font-weight: $fw-bold;
            font-size: $fs1;
            line-height: $lh1;

            text-align: right;
            letter-spacing: 0.2px;
            text-decoration-line: underline;
            text-transform: capitalize;

            color: $color-light-black;
            cursor: pointer;
          }
        }

        .button-container {
          justify-content: center;
          align-items: center;
          display: flex;
          margin-top: rem(40px);
        }

      }
    }
  }
}

.big-bold {
  font-weight: $fw-bold;
  font-size: $fs7;
  line-height: $lh3;
  letter-spacing: 0.2px;
}

.cancel-button {
  background-color: $color-white;
  color: $color-black;
  padding: rem(9px) rem(16px);
  text-align: center;
  align-items: center;
  width: 25%;
  font-size: $fs1;
  line-height: $lh1;
  cursor: pointer;
  border: 1px solid $color-blue-2;
  margin-right: rem(30px);
  min-width: rem(40px);
}

.active-white {
  background-color: $color-blue-8;
  color: $color-black;
  padding: rem(9px) rem(16px);
  text-align: center;
  align-items: center;
  width: 25%;
  font-size: $fs1;
  line-height: $lh1;
  cursor: pointer;
}

.active-button {
  background-color: $color-blue-2;
  color: $color-white;
  padding: rem(9px) rem(16px);
  text-align: center;
  align-items: center;
  width: 25%;
  font-size: $fs1;
  line-height: $lh1;
  cursor: pointer;
  border: 1px solid $color-blue-2;
  min-width: rem(40px);
}

.edit-pen {
  color: $color-black;
  margin-right: rem(10px);
}

.text-button {

}

.icon-button {
  display: none;
  min-width: rem(20px);
  min-height: rem(20px);
  text-align: center;
}

.white {
  color: $color-white;
}

.blue {
  color: $color-blue-2;
}

@media (max-width: rem(750px)) {
  .text-button {
    display: none;
  }
  .icon-button {
    display: block;
  }
}
