@import "@components/global-scss/variables";

.reset-notify {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 26.354375rem !important;
}

.error-container {
  min-height: rem(20px);
  width: 26.354375rem !important;
  display: block;
}

.change-password {
  width: rem(160px);
  height: rem(40px);
  background-color: $color-blue-2 !important;
  color: $color-white !important;
  text-align: center;
  display: block;
  top: rem(30px);
  margin-right: auto;
  margin-left: auto;

  font-size: $fs1;
  line-height: $lh2;
  border: none;
  &:hover {
    background-color: $color-blue-2 !important;
    color: $color-white !important;
  }
  &:focus {
    background-color: $color-blue-2 !important;
    color: $color-white !important;
  }
}
.title {
  font-weight: $fw-bold;
  letter-spacing: rem(0.4px);
}

.reset-password-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: rem(550px);
  height: rem(530px);
  background-color: #f7f8fc;
  margin-right: auto;
  margin-left: auto;
}

.margin-top-container {
  padding-top: calc(45vh - 261.5px);
}

.container {
  background-image: url("/assets/images/common/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  min-height: 100vh;
}

.expired-mail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: rem(539px);
  height: rem(300px);
  background-color: #f7f8fc;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(18vh - 88px);
}

.reset-pw-form-item {
  margin-bottom: rem(5px);
  margin-top: rem(20px);
  .label {
    line-height: rem($lh2);
    font-size: rem($fs1);
  }
}

.atn-input-custom {
  height: rem(40px);
  background: $color-white !important;
  border: 0;
  padding: rem(10px) rem(16px);
  letter-spacing: rem(3px);
  font-size: rem($fs8);
  &:focus {
    border-color: black !important;
  }
  &:hover {
    border-color: black !important;
  }
  &:active {
    border-color: black !important;
  }

  .ant-input {
    background: $color-white !important;
    font-size: $fs2;
    line-height: $lh6;
    &:focus {
      border-color: black !important;
    }
    &:hover {
      border-color: black !important;
    }
    &:active {
      border-color: black !important;
    }
  }
}

.atn-input-create-form {
  margin-right: auto;
  margin-left: auto;
  width: rem(421.67px);
  height: rem(49.05px);
  border: 1px solid #e4e4e4;
}

.signin-title {
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $f19;
  line-height: $lh3;
  align-items: center;
  letter-spacing: 0.2px;
  color: $color-blue-2;
  margin-top: rem(40px);
  margin-bottom: rem(40px);
}

.text-size-24 {
  font-size: rem(24px) !important;
}

.text-color-red {
  color: $color-red3;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.success-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(32px);
  margin-top: rem(10px);
  width: rem(56px);
}
.success-message {
  text-align: center;
  font-weight: $fw-bold;
  font-size: rem($fs1);
  line-height: rem($lh2);
  color: $color-light-black;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: rem(0.4px);
}

.btn-login {
  width: rem(173px);
  height: rem(40px);
  background-color: $color-blue-2;
  color: $color-white !important;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(50px);
  margin-bottom: rem(40px);
  font-weight: bold;
  font-size: $fs1;
  line-height: $lh2;
  border: none;
  &:hover {
    background-color: $color-blue-2;
    color: $color-white !important;
  }
  &:focus {
    background-color: $color-blue-2;
    color: $color-white !important;
  }
}
