.profile_template {
  align-items: center;
  margin-left: rem(20px);
  margin-right: rem(20px);

  .profile-introductory {

    .profile-introductory-content {
      background-color: #555555;
      width: rem(550px);
      height: rem(550px);
    }
  }

  .profile-introductory {
    height: rem(550px);
  }

  .profile-main-social-media {
    height: rem(550px);

    .profile-main-social-media-content {
      width: rem(308px);
      height: rem(550px);
    }
  }

  .profile-social-media {
    // width: 5vw;
    // padding-top: 100%; /* 1:1 Aspect Ratio */
    // position: relative;
    // background-color: lightcoral;
    // margin-right: 2vw;
    // margin-left: 2vw;
    // flex: 0 0 0;
  }
}